body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color:rgba(0, 67, 146, 0.49);
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.jumbotron{
	background-color:rgba(0, 43, 156, 0.21);
}

.theme-showcase .navbar .container {
  width: auto;
}

.assDesc{
  font-weight:bold;
}

.time{
  color:#D80000;
}

@media only screen and (max-width: 400px){
	#upcoming-desc{
		display:none;
	  text-align:center;

	}

	#upcoming-date{
	  display:none;
	  color:#D80000;
	  text-align:center;
	}
	

	#mobile-dates{
		font-size:15px;
		text-align:center;
	}
	
}

@media only screen and (min-width: 401px){
	#upcoming-desc{
	  font-size:20px;
	  text-align:center;

	}
	
	#upcoming-date{
	  font-size:20px;
	  color:#D80000;
	  text-align:center;
	}
	
	#mobile-dates{
		display:none;
		text-align:center;
	}
}